body {
  font-family: 'Open Sans', sans-serif;
  white-space: pre-line;
  background-color: #1a1a1a;
  fill: white;
}

h1 {
  color: white;
  height: 1%;
}

hr {
  border-width: 1px;
  border-color: grey;
}

#bar_chart {
  position: absolute;
  top: 2%;
  left: 2%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  /*fill: #4a91d8;*/
  fill: #7fcdbb;
}

.domain {
  stroke: gray;
}

text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  fill: white;
}

line {
  stroke: gray;
}

line#limit {
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

/*Linhas do bar chart*/
.grid .tick line {
  stroke: white;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
}

text.value {
  font-size: 14px;
}

text.label {
  font-size: 15px;
  font-weight: 400;
}

text.source {
  font-size: 14px;
}

/* heatmap */
#chart {
  position: absolute;
  top: 0%;
  left: 35%;
  width: 100%;
  height: 100%;
}

svg *::selection {
   background : transparent;
}

svg *::-moz-selection {
   background:transparent;
}

svg *::-webkit-selection {
   background:transparent;
}

rect.cell-border {
  stroke: #1a1a1a;
  stroke-width:4px;
}

rect.cell-hover {
  opacity: 0.4;
  /*stroke: black;
  stroke-width:1px;*/
}

text.mono {
  font-size: 11pt;
  fill:white;
}

text.text-selected {
  fill: #1d91c0;
}

text.text-highlight {
  fill: #1d91c0;
}

text.title {
  font-size: 20px;
  font-weight: 600;
}

#tooltip, .tooltip {
  background-color: white;
  position: absolute;
  padding: 5px;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  font-size: 14px;
  line-height: 20px;
}

#demo-info-slider {
  position: relative;
  top: 58%;
  left: 19%;
}

#order {
  font-family: 'Open Sans', sans-serif;
}

#vis {
  position: absolute;
  top: 74%;
  left: 2%;
  width: 120%;
  height: 100%;
}

#nodes {
  position: absolute;
  top: 0%;
  left: 48%;
  width: 50%;
  height: 70%;
}

.dimension { cursor: ns-resize; }
.category { cursor: ew-resize; }
.dimension tspan.name { font-size: 1.5em; fill: white; font-weight: bold; }
.dimension tspan.sort { fill: #909090; cursor: pointer; }
.dimension tspan.sort:hover { fill: #333; }
.dimension:hover tspan.name { fill: #1d91c0; }
.dimension:hover tspan.sort { opacity: 1; }
.dimension line { stroke: white; }
.dimension rect { stroke: none; fill-opacity: 0; }
.dimension > rect, .category-background { fill: #fff; }
.dimension > rect { display: none; }
.category:hover rect { fill-opacity: .3; }
.dimension:hover > rect { fill-opacity: .3; }
.ribbon path { stroke-opacity: 0; fill-opacity: .5; }
.ribbon path.active { fill-opacity: 1; }
.ribbon-mouse path { fill-opacity: 0; }
/*.curves { float: left; color: white;}*/

.category-1 { fill: #c7e9b4; stroke: #c7e9b4; }
.category-2 { fill: #41b6c4; stroke: #41b6c4; }
.category-0 { fill: #225ea8; stroke: #225ea8; }
.category-3 { fill: #081d58; stroke: #081d58; }
.category-4 { fill: #9467bd; stroke:  #9467bd; }
.category-5 { fill: #8c564b; stroke: #8c564b; }
.category-6 { fill: #e377c2; stroke: #e377c2; }
.category-7 { fill: #7f7f7f; stroke: #7f7f7f; }
.category-8 { fill: #bcbd22; stroke: #bcbd22; }
.category-9 { fill: #17becf; stroke: #17becf; }
