body {
  font-family: 'Open Sans', sans-serif;
  white-space: pre-line;
}

div#layout {
  position: relative;
  top: -18%;
  left: -29%;
  text-align: center;
}

div#container {
  width: 570px;
  height: 600px;
  margin: auto;
}

svg {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

text.divergence {
  font-size: 14px;
  fill: black;
}

text.value {
  font-size: 14px;

}

text.label {
  font-size: 15px;
  font-weight: 400;
}

text.source {
  font-size: 14px;
}

/* heatmap */

div#chart {
  position: relative;
  top: -25%;
  left: 5%;
}

svg *::selection {
   background : transparent;
}

svg *::-moz-selection {
   background:transparent;
}

svg *::-webkit-selection {
   background:transparent;
}
rect.selection {
  stroke          : #333;
  stroke-dasharray: 4px;
  stroke-opacity  : 0.5;
  fill            : transparent;
}

rect.cell-border {
  stroke: white;
  stroke-width:2px;
}

rect.cell-selected {
  stroke: rgb(51,102,153);
  stroke-width:0.5px;
}

rect.cell-hover {
  stroke: black;
  stroke-width:1px;
}

text.mono {
  font-size: 11pt;
}

text.text-selected {
  fill: green;
}

text.text-highlight {
  fill: green;
}

text.title {
  font-size: 20px;
  font-weight: 600;
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

#demo-info-slider {
  position: absolute;
  top:105%;
  left: 45%;
}

#order {
  font-family: 'Open Sans', sans-serif;
}

#vis {
  position: relative;
   top: -145%;
  left: 42%;
  /*top: -125%;
  left: 45%;*/
}
